# Addition of two numbers using ML

In [20]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [21]:
df = pd.read_csv("add.csv")

In [22]:
df.head()

   num_1  num_2   sum
0    2.0    5.0   7.0
1    4.0    9.0  13.0
2    1.0    4.0   5.0
3    3.0    7.0  10.0
4    5.0   12.0  17.0

In [23]:
# separate it as feature and targets
X = df[['num_1','num_2']]
Y = df['sum']

In [24]:
print(X)

     num_1  num_2
0      2.0    5.0
1      4.0    9.0
2      1.0    4.0
3      3.0    7.0
4      5.0   12.0
5      9.0    9.0
6      8.0   31.0
7      1.2   25.0
8      2.5   16.0
9     12.2   12.0
10    10.4   12.0
11    14.0   16.4
12    13.5   25.0
13     8.0   14.0
14    78.0   36.0
15    95.0   10.0
16  3574.0   20.0
17    12.2   14.0
18    23.0   15.4
19    76.0   13.5
20    90.0   10.5
21    10.1   29.0
22    29.0   35.0
23    58.0   12.0

In [25]:
print(Y)

0        7.0
1       13.0
2        5.0
3       10.0
4       17.0
5       18.0
6       39.0
7       26.2
8       18.5
9       24.2
10      22.4
11      30.4
12      38.5
13      22.0
14     114.0
15     105.0
16    3594.0
17      26.2
18      38.4
19      89.5
20     100.5
21      39.1
22      64.0
23      70.0
Name: sum, dtype: float64

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 2)

In [27]:
print(X.shape, X_train.shape, X_test.shape)

(24, 2) (16, 2) (8, 2)

In [ ]:
# Model

In [28]:
model = LinearRegression()

In [29]:
model.fit(X_train,Y_train)

LinearRegression()

In [ ]:
# Get the Accuracy

In [30]:
model.score(X_train,Y_train)

1.0

In [31]:
model.score(X_test,Y_test)

1.0

In [ ]:
# Check for the prediction is correct or not

In [32]:
predict = model.predict(X_test)

In [33]:
print(predict)

[  39.1    7.    64.    39.   114.  3594.    10.    38.5]

In [34]:
checking = pd.DataFrame({'Actual':Y_test, 'Predicted':predict})
checking

    Actual  Predicted
21    39.1       39.1
0      7.0        7.0
22    64.0       64.0
6     39.0       39.0
14   114.0      114.0
16  3594.0     3594.0
3     10.0       10.0
12    38.5       38.5

In [ ]:
# It is all about Joblib

In [35]:
import joblib
joblib.dump(model,'my_joblib')
model = joblib.load('my_joblib')

In [36]:
model.predict([[10,5]])

C:\Users\91986\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([15.])

In [ ]:
# GUI (Tkinter)

In [101]:
print("hi")
from tkinter import *
import joblib
win = Tk()
win.geometry("300x200")
win.title('Addtion using ML')
win.config(bg="Teal")

#function
def fun():
    val_1 = entry_1.get()
    val_2 = entry_2.get()
    model = joblib.load('my_joblib')
    result = model.predict([[val_1,val_2]])
    Label(win,text="Addition of 2 numbers are ",bg="Teal").place(x=55,y=160)
    Label(win,text=result,bg="Teal").place(x=190,y=160)

label = Label(win,text="Addition of Two numbers using ML",bg="Teal").place(x=50,y=10)
label_1 = Label(win,text="Enter First Number:",bg="Teal").place(x=5,y=40)
label_2 = Label(win,text="Enter Second Number:",bg="Teal").place(x=5,y=60)

value_1 = IntVar()
value_2 = IntVar()

entry_1 = Entry(win, textvariable = value_1)
entry_1.place(x=130,y=40)

entry_2 = Entry(win, textvariable = value_2)
entry_2.place(x=130,y=60)

button = Button(win,text="PREDICT",command=fun,bg="white")
button.place(x=95,y=110)


win.mainloop()

hi